.row {
    font-size: 2rem;
    text-align: center;
    border: 1px solid magenta;
    padding: 2px;
    margin-bottom: 3em;
}
.row > div {
    border: 1px solid #666;
}
.description {
    font-size: 1.5em;
    background: #eee;
    padding: 15px;
}