
#wrapper{
	background-color: white;
	width: 960px;
	height:1000px;
	margin: 0 auto;
}


header{
	height:40px;
	background-image: url('../images/adobe.png');
	background-size: 150px 80px;
	background-repeat: no-repeat;
	background-color: #C2C1C0;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 130px;
    
}



#icons{
width: 90px;
background-image: url('images/icons.png');
background-repeat: no-repeat;
float: right;
}



#search{
	width: 210px;
	height: 50px;
	float: right;
	color: white;
	font-family: "Futura", Times, serif;
	font-size: 14px;
}


nav a:link, a:visited {
    background-color: #8E84A5;
    color: #C2C1C0;
    padding: 15px 75px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    padding-left:  81px;
   
    
}


a:hover, a:active {
    background-color: #DBD1D8;
}





main{
	background-image: url('../../images/image1.jpg');
    background-color: white;
	background-size: 30% 300%;
	height: 100%;
	width: 50%;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}



 

 form{
	margin: 1px;
	background-color:#3A3254;
	background-repeat: no-repeat;
	width:460px;
	height:600px;
	padding:30px;
    border-radius:30px;
    color: #DDDDDD;
    margin-top: 19px;
    margin-left: 25px;
    float: left;
}





div{
	height: 40px;
	width: 70px;

}


label{
	font-family: "Futura", Times, serif;
	font-size: 14px;
	display: inline-block;
    text-align: left;
    width:100px;
    
}



h2{
	font-family: "Futura", Times, serif;
	font-size: 16px;
	color: white;
}


p{
	color: white;
}



footer{
	color:white;
	background-color: #5D5D5D;
	height: 20px;
	padding: 50px;

}